@use "../../globalStyles" as *;

.forminput {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;

  .input-label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #111827;
  }

  .required-asterisk {
    color: red;
    margin-left: 2px;
  }

  .input-container {
    .input {
      font-size: 16px;
      box-shadow: 0px 0px 2px 0px #00000040;
      color: $secondary_text;
      height: 45px;
    }
  }

  .input-error-text {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }

  .input-helper-text {
    color: #919cb4;
    font-size: 12px;
    margin-top: 4px;
  }
  .helperTitle {
    color: #919cb4;
    font-size: 12px;
  }

  &.has-error {
    .input {
      border-color: red !important;
    }
  }

  // input.ant-input.ant-input-lg.css-dev-only-do-not-override-1vjf2v5 {
  //   padding-left: 10px !important;
  //   font-weight: 400 !important;
  //   // background-color: transparent !important;
  //   // color: $grey_text !important;
  // }
}


.forminput {
  .phone-field {
    display: flex;
    gap: 0; // seamless join
  }

  // .phone-code,
  // .phone-number {
  // }

  /* Left (Select) – remove right radius & right border */
  .phone-code .select-input.ant-select .ant-select-selector {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
    height: 45px !important;          // match your inputs
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 2px 0px #00000040;
  }

  /* Right (Input) – remove left radius & left border */
  .phone-number .input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: 0 !important;
    height: 45px;
    box-shadow: 0px 0px 2px 0px #00000040;
  }

  /* Widths */
  .phone-code { width: 100px; }       
  .phone-number { flex: 1; }
}

