/* src/components/TextAreaField/TextAreaField.scss */
@use "../../globalStyles" as *;

.forminput {
  .textarea.ant-input .textarea {
    font-size: 16px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2509803922) !important;
    color: #919cb4 !important;
    border-radius: 8px;
    border: 1px solid $primary_border;
    resize: vertical;
  }

  &.has-error {
    .textarea.ant-input {
      border-color: red !important;
    }
  }
}

textarea.ant-input.css-dev-only-do-not-override-1vjf2v5 {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2509803922) !important;
  color: #919cb4 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  border-radius: 8px !important;
  border: 1px solid $primary_border;
}
