@use "../../globalStyles" as *;

.image-upload-field {
    .input-label {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .image-previews {
        display: flex;
        gap: 10px;
        margin-top: 10px;

        .image-preview-card {
            position: relative;
            width: 100px;
            height: 100px;
            border-radius: 10px;
            overflow: hidden;
            border: 2px solid $primary_border;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .clear-image-btn {
                position: absolute;
                top: 5px;
                right: 5px;
                background-color: #fff;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                font-size: 18px;
            }
        }
    }

    .input-error-text {
        color: red;
        font-size: 14px;
    }
}