// color
$brand_color: #0e82fd;
$primary_white: #ffffff;
$primary_black: #000000;
$primary_stroke: #e6eef8;

$primary_text: #012047;
$secondary_text: #919cb4;

$primary_bg: #eef2f5;
$primary_border: #e6eef8;

// font size
$font_xxl: 32px;
$font_xl: 24px;
$font_l: 20px;
$font_m: 18px;
$font_sm: 16px;
$font_s: 14px;
$font_xs: 12px;
$font_vs: 10px;
$font_xvs: 8px;
