.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &.main {
    background-color: #0e82fd;
    color: #fff;
    border-radius: 6px;

    &:hover {
      background-color: #0e82fd;
    }
  }

  &.primary {
    background-color: #0e82fd;
    color: #fff;

    &:hover {
      background-color: #0e82fd;
    }
  }
  &.primary2 {
    background-color: #0e82fd;
    color: #fff;
    height: 40px !important;
    font-size: 14px;
    padding: 6px 14px;
    &:hover {
      background-color: #0e82fd;
    }
  }

  &.secondary {
    background-color: #ffffff;
    color: #0e82fd;
    border: 1px solid #0e82fd;

    &:hover {
      background-color: #e0e0e0;
    }
  }
  &.secondary2 {
    background-color: #ffffff;
    color: #0e82fd;
    border: 1px solid #0e82fd;
    height: 40px !important;
    font-size: 14px;
    padding: 6px 14px;
    &:hover {
      background-color: #e0e0e0;
    }
  }

  &.danger {
    background: #ff453626;
    color: #ff4d4f;

    &:hover {
      background: #ff453626;
    }
  }

  &.light {
    background-color: #0e82fd1a;
    color: #0e82fd;

    &:hover {
      background-color: #0e82fd1a;
    }
  }

  &.black {
    background-color: #000;
    color: #fff;
    border-radius: 50px;

    &:hover {
      background-color: #010101;
    }
  }

  &.transparent {
    background-color: transparent;
    color: #000;
    border: 1px solid #111827;

    &:hover {
      background-color: transparent;
    }
  }

  &:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
}
