@use "../../globalStyles" as *;

.dashboard {
  min-height: 100%;

  &__top {
    margin-bottom: 12px;
  }

  .stat-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }

  &__bottom {
    background: $primary_white;
    // border: 1px solid $primary_border;
    border-radius: 16px;
    min-height: 420px;
  }
}
