@use "../../globalStyles" as *;
@use "../../globalStyles" as *;

.auth {
  display: grid;
  place-items: center;
  background-image: url("../../assets/LoginBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  &_sec {
    padding: 30px 0;
    &_logo {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      img {
        width: 200px;
        height: auto;
      }
    }
    &_card {
      z-index: 1;
      width: min(480px, 80vw);
      background: $primary_white;
      border-radius: 20px;
      box-shadow: 0 20px 40px rgba(16, 24, 40, 0.08);
      padding: clamp(15px, 4vw, 40px);
      border: 1px solid rgba(2, 6, 23, 0.06);
    }
  }
}
