@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.App {
  font-family: "Inter", sans-serif !important;
  height: 100vh;
  overflow-y: hidden;
  background: #eef2f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

.error {
  font-size: 12px;
  color: red;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #eeeeee;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.ant-table-body {
  scrollbar-width: thin !important;
}

.ant-dropdown-menu,
.ant-dropdown-menu-root {
  overflow: none !important;
}

.ant-dropdown-menu,
.ant-dropdown-menu-vertical {
  overflow-y: none !important;
}

.custom-dropdown-scroll-wrapper {
  max-height: 240px;
  overflow-y: auto;
  background-color: #f1f1f1;
  padding: 4px 0;
}

.custom-dropdown .ant-dropdown-menu {
  overflow: visible !important;
  max-height: unset !important;
  background-color: transparent !important;
}

li.ant-pagination-item.ant-pagination-item {
  margin-right: 4px !important;
}



.home {
  &_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}
